/build*
/output*
figures/output*
data*
logs*
*.DS_Store
*.so
.DS_Store
*vscode*
*pycache*
*.obj
c1-scripts/dependencies
c1-scripts/executables.json
src/clou*/*.msh
src/clou*/*.hdf5
# src/clou*/*.json
src/clou*/*.vtu
